/node_modules
/vendor
.env
.env.*
!.env.example
.git
.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*.log
!storage/logs/.gitignore
storage/*.key
public/storage
public/hot
/tests
phpunit.xml
.editorconfig
.gitattributes
README.md
.phpunit.result.cache
