DATABASE_URL=mysql+aiomysql://reflectboard:reflectboard@db:3306/reflectboard
TEST_DATABASE_URL=mysql+aiomysql://root:secure_password@db/reflectboard_test
REDIS_URL=redis://redis:6379/0
ALLOWED_ORIGINS="http://reflectboard.local,https://your.domain.com"


