@import 'variables.css';
@import 'layout.css';

@import 'components/cards.css';
@import 'components/modals.css';
@import 'components/forms.css';
@import 'components/buttons.css';
@import 'components/subtasks.css';
@import 'components/ui.css';

@import 'auth.css';
@import 'landing.css';
@import 'done.css';
@import 'fab.css';
@import 'analytics.css';

@font-face {
    font-family: 'JetBrainsMono NF';
    src: url('/fonts/JetBrainsMonoNF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
